div.FromTumblrToReactHeaderImgDiv {
  max-width: 350px;
  margin: auto; /* Center the image */
  margin-bottom: 1em;
}

.FromTumblrToReactHeaderImg {
  width: 80%; /*Image responsive */
  height: auto; /* Maintain aspect ratio */
  margin-top: 5em;
}
