.photo-card {
  max-width: 600px;
  margin: auto; /* Center the card */
  padding-top: 5em;
  margin-bottom: 10em;
}

.photo-card img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer when hovering over the image */
}

.photo-card .caption {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  padding: 8px 0;
}

@media (max-width: 600px) {
  .photo-card .caption {
    font-size: 12.5px;
  }

  .photo-card img {
    width: 89.9vw;
  }
}
