.App {
  text-align: center;
}

* {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.titleMyName {
  font-weight: bolder;
  font-size: 90px;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .titleMyName {
    font-size: 9vw;
  }
}
